xml/hkschematron.sch

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns:sch="http://purl.oclc.org/dsdl/schematron" queryBinding="xslt2"
    xmlns:sqf="http://www.schematron-quickfix.com/validator/process"
    xmlns="http://purl.oclc.org/dsdl/schematron">
    
    <pattern>
        <rule context="character">
            <assert test="not(entry[. = following-sibling::entry])">Duplicate entry found!</assert>
        </rule>
    </pattern>
</schema>