huntersJournal/huntersJournal.rnc

start = hollowKnight
hollowKnight = element hollowKnight {huntersJournal}
huntersJournal = element huntersJournal {primResidence*}
primResidence = ## The territory in which the contained creatures/entries are most commonly found.
    element primResidence {title, entry+}
title = ## Must name an in-game map section.
    attribute title 
    {"Forgotten-Crossroads" | "Greenpath" | "Fog-Canyon" 
    | "Fungal-Wastes" | "City-of-Tears" | "Royal-Waterways" 
    | "Crystal-Peak" | "Deepnest" | "Ancient-Basin" | "Kingdom's-Edge" 
    | "The-Hive" | "Queen's-Gardens" | "Colosseum-of-Fools" 
    | "White-Palace" | "null"} # Null and/or specialItem
entry = element entry {name, listOrder, data, desc1, desc2} #misc
    name = ## The name of any creature/item defined by the journal 
        attribute name {text}
    listOrder = ## Corresponds to the in-game's list order of journal entries.
        attribute listOrder {xsd:integer}
    data = element data {health, mobility, empty}
        health = attribute health {xsd:integer}
        # Create behavior description refList?
        mobility = attribute mobility {"air" | "ground"}
    desc1 = ## The journal's already-unlocked entry
        element desc1 {mixed{lb*}}
            lb = element lb {empty}
    desc2 = ## The journal's kill-locked entry
        element desc2 {reqKills, mixed{lb*}}
            reqKills = attribute reqKills {xsd:integer}
    # List in misc special conditions etc?       
    # Miscellaneous tidbits about this entry that are not in the explicit journal
    #misc = element misc {dreamNail}
    #   dreamNail = element dreamNail {sp}
    #       sp = element sp {text}
