huntersJournal/huntersJournalTEST.rnc

default namespace = ""

start =
  ## The Game
  element hollowKnight {
    ## Journal
    element huntersJournal {
      element primResidence {
        attribute title { xsd:NCName },
        element entry {
          attribute listOrder { xsd:integer },
          attribute name { xsd:NCName },
          attribute type { text }?,
          element data {
            attribute health { xsd:integer },
            attribute mobility { xsd:NCName }
          },
          element desc1 { (text | lb)+ },
          element desc2 {
            attribute reqKills { xsd:integer },
            (text | lb)+
          }
        }+
      }+
    }
  }
lb = element lb { empty }
